@using MyEvernote.Entities.ValueObjects
@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Kayıt Oluştur</h3>
                    </div>
                    <div class="panel-body">
                        @*gelen hata mesajlarının gösterileceği alan*@
                        @Html.ValidationSummary(false)
                        <form accept-charset="UTF-8" role="form">
                            <fieldset>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Kullanıcı Adınız" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Şifreniz",
                                        type="password"})
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.RePassword, new { @class = "form-control", placeholder = "Şifre Tekrar",
                                        type="password"})
                                </div>
                                <button type="submit" class="btn btn-success btn-lg btn-block ">Kayıt Ol</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $("footer").parent().hide();
    })
</script>

